name: Run Daily Python Scraper

on:
  schedule:
    - cron: '30 1 * * *'   # 07:00 AM IST (GitHub cron = UTC)
  workflow_dispatch:

jobs:
  run-python-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests beautifulsoup4 cloudscraper aiohttp dateparser

      - name: Run script
        run: python hddv.py
